version: 2
updates:
    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'weekly'
      groups:
          all-dependencies:
              patterns:
                  - '*'
      open-pull-requests-limit: 10

    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'monthly'
      groups:
          actions-dependencies:
              patterns:
                  - '*'
